.catalog {
    .h1{
        font-size: 28px;
        line-height: 1.5;
        margin-bottom: 32px;
    }
    padding-bottom: 112px;
    &__filter{
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
        &-name{
            font-size: 22px;
            font-family: $book;
            color: #5C5F60;
            line-height: 1.5;
        }
        &-content{
            span{
                font-size: 12px;
                color: #5C5F60;
            }
            button{
                background-color: #EFF1F1;
                border-radius: 20px;
                font-size: 12px;
                line-height: 1.5;
                padding: inherit;
                padding-left: 12px;
                border: none;
                margin-left: 8px;
                &:focus{
                    box-shadow: none;
                }
            }
            .dropdown-toggle::after{
                content: "";
                width: 30px;
                height: 34px;
                background: url("../img/arrowDown.png");
                background-repeat: no-repeat;
                background-position: 8px 15px;
                border: none;
                vertical-align: middle;
                border-left: 2px solid #fff;
            }
            .show.dropdown-toggle::after{
                transform:rotate(180deg);
                border-right: 2px solid #fff;
                border-left: none;
                background-position: 10px 14px;
            }
            .dropdown-menu{
                background-color: #EFF1F1;
            }
        }
    }
    &__filters {
        .accordion-item {
            border: none;
            .accordion-button.collapsed {
                background-color: #EFF1F1;
                color: $mainDark;
                font-size: 14px;
                font-family: $book;
                margin-bottom: 2px;
                display: flex;
                align-items: baseline;
                &:focus {
                    outline: none;
                    border-color: transparent;
                    
                }
            }

            .accordion-button:not(.collapsed) {
                color: $mainDark;
                font-size: 14px;
                font-family: $book;
                background-color: #EFF1F1;
                
            }
            .accordion-button:focus{
                box-shadow: none;
            }
        }
    }

    &__cards {
        .card {
            padding: 24px;

            &-body {
                padding: 0;

                &__bottom {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;

                    &-price {
                        span {
                            display: block;

                            &:first-child {
                                font-family: $book;
                                font-size: 12px;
                                line-height: 1.5;
                                color: #747778;
                                text-decoration: line-through;
                            }

                            &:last-child {
                                font-family: $medium;
                                font-size: 14px;
                                line-height: 1.5;
                                color: $mainDark;
                            }
                        }
                    }

                    &-geo {
                        text-align: right;

                        span {
                            display: block;

                            &:first-child {
                                font-family: $book;
                                font-size: 12px;
                                line-height: 1.5;
                                color: $mainDark;
                            }

                            img {
                                margin-right: 8px;
                            }

                            &:last-child {
                                font-size: 14px;
                                line-height: 1.5;
                                color: $mainDark;
                            }
                        }
                    }
                }
            }

            &-text {
                font-family: $medium;
                font-size: 10px;
                line-height: 1.5;
                color: #5C5F60;
                margin-bottom: 4px;
            }

            &-title {
                font-size: 14px;
                line-height: 1.5;
                color: $mainDark;
                margin-bottom: 24px;
            }

            &__image {
                display: flex;
                flex-direction: column;
                margin-bottom: 16px;

                svg {
                    align-self: flex-end;
                }

            }

            &__badge {
                font-size: 10px;
                line-height: 1.5;
                padding: 4px 8px;
                padding-bottom: 2px;
                background-color: #B4FFF0;
                border-radius: 4px;
                color: $mainDark;
                align-self: flex-start;
            }
            &__badge-grey{
                width: 100%;
                display: flex;
                justify-content: space-between;
                span{
                    font-size: 10px;
                    line-height: 1.5;
                    padding: 4px 8px;
                    padding-bottom: 2px;
                    background-color: #E0E3E3;
                    border-radius: 4px;
                    color: $mainDark;
                    align-self: flex-start;
                }
            }
        }
    }
    .pagination{
        margin-top: 56px;
        margin-bottom: 0;
        justify-content: center;
        align-items: baseline;
        .page-item{

            .page-link{
                border-radius: 20px;
                font-size: 12px;
                line-height: 1.5;
                color: #5C5F60;
                padding: 5px 13px;
                border: 2px solid #C4C7C7;
                margin: 0 4px;
                width: 34px;
                height: 34px;
                display: flex;
                align-items: center;
                justify-content: center;
               
                &.active{
                    border: 2px solid $mainDark;
                    color: $mainDark;
                    width: 40px !important;
                    height: 40px;
                }
                &:first-child{
                    width: fit-content;
                }
                &:last-child{
                    width: fit-content;
                }
            }
            
        }
    }
    .form-check-input:checked{
        background-color: $mainDark;
        border-color: $mainDark;
    }
    .form-check-input{
        border: 2px solid #C4C7C7;
        &:focus{
            
            box-shadow: none;
        }
    }
    .form-check-label{
        font-size: 14px;
        font-family: $book;
        color: #444748;
        width: 100%;
        display: flex;
        justify-content: space-between;
        span{
            font-family: $book;
            font-size: 14px;
            columns: #747778;
        }
    }
}